In [49]:
li=["gitam",12,656,465,5767]
print(li)
print(li[-1::-1 ])
print(li[2:])
print(type(li))

['gitam', 12, 656, 465, 5767]
[5767, 465, 656, 12, 'gitam']
[656, 465, 5767]
<class 'list'>

In [2]:
# update
li[0]="akhila"
print(li)

['akhila', 12, 656, 465, 5767]

In [3]:
# delete
del li[3]
print(li)

['akhila', 12, 656, 5767]

In [4]:
del li[0]
print(li)

[12, 656, 5767]

In [8]:
li=[1,34,76,'a',"akhila"]
print(len(li))
print(li*2)
print(1 in li)
print(5 in li)

5
[1, 34, 76, 'a', 'akhila', 1, 34, 76, 'a', 'akhila']
True
False

# basic list functions

In [19]:
li=[1,2,3,4]
print(max(li))
print(min(li))
print(sum(li)/len(li))# average
print(sum(li))

4
1
2.5
10

In [22]:
li=[1,2,3,50,78]
li.append(20)
print(li)
li.insert(2,56)# insert at index
print(li)

[1, 2, 3, 50, 78, 20]
[1, 2, 56, 3, 50, 78, 20]

In [26]:
li=[1,23,35,7,9,8,74]
li.sort()
print(li)
li.pop()
print(li)
li.pop(1)
print(li)

[1, 7, 8, 9, 23, 35, 74]
[1, 7, 8, 9, 23, 35]
[1, 8, 9, 23, 35]

In [30]:
# function to return large number from list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,20,34,56,8,9,27]
print(largenumber(li))
print(genericlarge(li,3))

56
27

In [33]:
# function to return small number from list
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[19,20,34,56,8,9,27]
print(smallnumber(li))
print(genericsmall(li,2))

8
19

# tuples
- values seperated bt comma and closed by paranthesis()
- values cannot be chnaged i.e immutable 
# difference b/w list nd tuples
- list can be modified
- list used to access means modify,add,del,update
- tuple cannot be modified
- used to access data only

In [35]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# Dictionaries:
- works on concept of set unique data
- dictionary contains keys and values 
- each key is seperated from its values with colon :
- each key and values separated by comma ,
- dic enclosed by {}

In [53]:
d={1,2,2,3,4,5,5}
print(d)
print(type(d))

{1, 2, 3, 4, 5}
<class 'set'>

In [72]:
d={"name":"akhila","name":"akhila","email":"akhila@","college":"gitam","address":"hyderabad" ,"age":"12"}
print(d)
print(type(d))
del d["name"]
d
d["age"]="20"
d
d["course"]="python"
d

{'name': 'akhila', 'email': 'akhila@', 'college': 'gitam', 'address': 'hyderabad', 'age': '12'}
<class 'dict'>

dict_keys(['email', 'college', 'address', 'age', 'course'])

In [73]:
d.keys()

dict_keys(['email', 'college', 'address', 'age', 'course'])

In [74]:
d.values()

dict_values(['akhila@', 'gitam', 'hyderabad', '20', 'python'])

In [75]:
d.items()

dict_items([('email', 'akhila@'), ('college', 'gitam'), ('address', 'hyderabad'), ('age', '20'), ('course', 'python')])

# Strings:

In [87]:
s='python'
print(s[0])
print(s[::-1])
print(type(s))

p
nohtyp
<class 'str'>

In [83]:
s=['123','ak','hyy']
print(s[0])
print(type(s))

123
<class 'list'>

In [90]:
print(s[len(s)//2])

h

In [95]:
print(s[0:6:2])
print(s[0:6:3])
print(s[0:6:4])

pto
ph
po

In [99]:
# using function reverse of  the string 
def reverseofstring(str):
    print(str[::-1])

    
reverseofstring("program")

margorp

In [5]:
#palindrome

def reverseofstring(str):
    if str==str[::-1]:
        return True
    else:
        return False

print(reverseofstring("programming"))
print(reverseofstring("madam"))

False
True

# STRING BUILT IN FUNCTIONS
- UPPER()
- lower()
- isupper()
- islower()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [16]:
s="python "
print(s.upper())
print(s.lower())
print(s.isupper())
print(s.islower())
print(s.istitle())
print(s.isnumeric())
print(s.isalpha())
print(s.isspace())

PYTHON
python
False
True
False
False
False
False

In [17]:
s=" "
print(s.isspace())

True

# string methods
- join()
- split()
- replace()

In [18]:
s1="akhila"
print("_".join(s1))

a_k_h_i_l_a

In [46]:
s1="akhila is a good girl"

print(s1.split(','))

['akhila is a good girl']

In [23]:
s1="akhila is a good girl"
li=list(s1)
li

['a',
 'k',
 'h',
 'i',
 'l',
 'a',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'g',
 'o',
 'o',
 'd',
 ' ',
 'g',
 'i',
 'r',
 'l']

In [24]:
s1="akhila is a good girl"
print(s1.replace("good","very good"))

akhila is a very good girl

In [25]:
marks={'akhila':[80,85,90],'joey':[86,90,95]}
marks["akhila"]

[80, 85, 90]

In [35]:
li=marks["akhila"]
li[1]

85

In [36]:
li=marks["joey"]
li[0]

86

In [37]:
li=marks["joey"]
li[::-1]

[95, 90, 86]

In [42]:
marks={'peter':{'math':1,'english':2},'joe':[86,90,95]}
li=marks["peter"]
li1=li["english"]
li1

2